@font-face {
    font-family: Montserrat;
    src: url(./../fonts/MontserratAlternates-Regular.ttf);
}
$timing-animation: 2s;
::selection{
    background-color: #8686C0
}
html{
    font-size: 10px;
    
    body{
        background-color: #2e2e2e;
    }
}

header{
    background-color: #8686C0;
    height: 46rem;
    margin-bottom: 14rem;
    
    .header-bottom{
        position: relative;
        .left-and-right{
            position: relative; 
        }
        ::before, ::after{
            content: " ";
            position: absolute;
            display: block;
            width: 42.6%;
            height: 6rem;
            background-color: #2e2e2e;
            bottom: 4rem;
            z-index: 0;
        }
        ::before{
            left: 0;
            border-radius: 0 6em 0 0;
        }
        ::after{
            right: 0;
            border-radius: 6em 0 0 0;
        }

    }

    .content{ 
        height: 83%;
        display: flex;
        align-items: center;
        .logo{
            margin: 0 auto;
            background-image: url("./../img/logo.svg");
            background-repeat: no-repeat;
            background-position:top center ;
            height: 331px;
        }
    }
    .slide-theme{
        width: 15%;
        position: relative;
        background-color: #C4C4C4;
        height: 12rem;
        margin: 0 auto;
        border-radius: 6rem;
        z-index: 1;
        .dark-theme{


        }
        .circle{
            position: absolute;
            height: 12rem;
            width: 12rem;
            border-radius: 50%;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url(./../img/darkTheme_two.svg);
            animation-name: left-right;
            animation-duration: $timing-animation;
            z-index: 0;
            .month{
                height: 100%;
                width: 100%;
                border-radius: 50%;
                position: relative;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: 21px center;
                background-image: url(./../img/darkTheme_one.svg);
                z-index: 1;
                //animation-name: reverse-light-theme;
                animation-duration: $timing-animation;
                


            }
            .sun{
                height: 100%;
                width: 100%;
                border-radius: 50%;
                position: absolute;
                top: 0;
                background-size: cover;
                background-repeat: no-repeat;
                background-image: url(./../img/lightTheme.svg);
                z-index: 2;
                background-position-x: 15rem;
                animation-name:sun-theme;
                animation-duration: $timing-animation;
            }

        }
        .light-theme{
            
        }
    }
}
@keyframes left-right{
    0%{
        left:0
    }
    50%{
        left: 55%;
    }
    100%{
        right: 0;
        animation-play-state: paused;

    }

}
@keyframes reverse-light-theme{
    0%{
        left: 0;
        background-position-x: center;
    }
    50%{
        transform: rotate(-13deg);
        background-position-y: 0.5rem;
        background-position-x: 0.7rem;
    }
    100%{
        right: 0;
        z-index: 0;
        animation-play-state: paused;
    }
}
@keyframes sun-theme{
    0%{
        background-position-x: 15rem;
    }
    100%{
        background-position: center;
    }
}
.div_text{
    font-family: Montserrat;
    color: white;
    h3{
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }
    p{
        font-size: 2.2rem;
    }
}
.div_img{
    border-radius: 7rem;
    padding: 1.5rem 2.7rem;
    background-color: #8686C0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        border-radius: 2rem;
        width: 100%;
    }
}
.row-content{
    border-bottom: 1px solid white;
    margin-top: 13rem;
    padding-bottom: 13rem;
    display: flex;
    align-items: center; 
    justify-content: space-between;   
}

.content{
    max-width: 1440px;
    margin: 0 auto;
}
.last_block_div{
    border-bottom: none;
}
footer{
    background-color: #000;
    height: 100%;
    .content{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 100%;
        .icons{
            display: flex;
            flex-direction: row;
            margin-top: 6rem;
            align-items: center;
            justify-content: center;
            .icon{
                max-width: 6.4rem;
                width: 100%;
                height: 6.4rem;
            }
        }
        .email{
            margin-top: 2.7rem;
            color: white;
            font-size: 1.7rem;
        }
        .license{
            margin-top: 2.7rem;
            color: white;
            font-size: 1.7rem;
        }
    }
}