@font-face {
  font-family: Montserrat;
  src: url(./../fonts/MontserratAlternates-Regular.ttf);
}
::-moz-selection {
  background-color: #8686C0;
}
::selection {
  background-color: #8686C0;
}

html {
  font-size: 10px;
}
html body {
  background-color: #2e2e2e;
}

header {
  background-color: #8686C0;
  height: 46rem;
  margin-bottom: 14rem;
}
header .header-bottom {
  position: relative;
}
header .header-bottom .left-and-right {
  position: relative;
}
header .header-bottom ::before, header .header-bottom ::after {
  content: " ";
  position: absolute;
  display: block;
  width: 42.6%;
  height: 6rem;
  background-color: #2e2e2e;
  bottom: 4rem;
  z-index: 0;
}
header .header-bottom ::before {
  left: 0;
  border-radius: 0 6em 0 0;
}
header .header-bottom ::after {
  right: 0;
  border-radius: 6em 0 0 0;
}
header .content {
  height: 83%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .content .logo {
  margin: 0 auto;
  background-image: url("./../img/logo.svg");
  background-repeat: no-repeat;
  background-position: top center;
  height: 331px;
}
header .slide-theme {
  width: 15%;
  position: relative;
  background-color: #C4C4C4;
  height: 12rem;
  margin: 0 auto;
  border-radius: 6rem;
  z-index: 1;
}
header .slide-theme .circle {
  position: absolute;
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./../img/darkTheme_two.svg);
  -webkit-animation-name: left-right;
          animation-name: left-right;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  z-index: 0;
}
header .slide-theme .circle .month {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 21px center;
  background-image: url(./../img/darkTheme_one.svg);
  z-index: 1;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
header .slide-theme .circle .sun {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./../img/lightTheme.svg);
  z-index: 2;
  background-position-x: 15rem;
  -webkit-animation-name: sun-theme;
          animation-name: sun-theme;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
@-webkit-keyframes left-right {
  0% {
    left: 0;
  }
  50% {
    left: 55%;
  }
  100% {
    right: 0;
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
}
@keyframes left-right {
  0% {
    left: 0;
  }
  50% {
    left: 55%;
  }
  100% {
    right: 0;
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
}
@-webkit-keyframes reverse-light-theme {
  0% {
    left: 0;
    background-position-x: center;
  }
  50% {
    -webkit-transform: rotate(-13deg);
            transform: rotate(-13deg);
    background-position-y: 0.5rem;
    background-position-x: 0.7rem;
  }
  100% {
    right: 0;
    z-index: 0;
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
}
@keyframes reverse-light-theme {
  0% {
    left: 0;
    background-position-x: center;
  }
  50% {
    -webkit-transform: rotate(-13deg);
            transform: rotate(-13deg);
    background-position-y: 0.5rem;
    background-position-x: 0.7rem;
  }
  100% {
    right: 0;
    z-index: 0;
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
}
@-webkit-keyframes sun-theme {
  0% {
    background-position-x: 15rem;
  }
  100% {
    background-position: center;
  }
}
@keyframes sun-theme {
  0% {
    background-position-x: 15rem;
  }
  100% {
    background-position: center;
  }
}
.div_text {
  font-family: Montserrat;
  color: white;
}
.div_text h3 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
.div_text p {
  font-size: 2.2rem;
}

.div_img {
  border-radius: 7rem;
  padding: 1.5rem 2.7rem;
  background-color: #8686C0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.div_img img {
  border-radius: 2rem;
  width: 100%;
}

.row-content {
  border-bottom: 1px solid white;
  margin-top: 13rem;
  padding-bottom: 13rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content {
  max-width: 1440px;
  margin: 0 auto;
}

.last_block_div {
  border-bottom: none;
}

footer {
  background-color: #000;
  height: 100%;
}
footer .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 100%;
}
footer .content .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .content .icons .icon {
  max-width: 6.4rem;
  width: 100%;
  height: 6.4rem;
}
footer .content .email {
  margin-top: 2.7rem;
  color: white;
  font-size: 1.7rem;
}
footer .content .license {
  margin-top: 2.7rem;
  color: white;
  font-size: 1.7rem;
}